<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">item1</h2>
      <svg class="icon icon--primary collapsible__chevron">
        <use xlink:href="images/sprite.svg#wordpress"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea magni
      suscipit consequuntur dolorem voluptatum saepe.
    </div>
  </div>
  <script src="js/main.js"></script>
</body>