<section class="block block--dark block--skewed-right">
  <header class="block__header">
    <h2 class="block__heading showcase__title">User-friendly Control Panel</h2>
  </header>
  <div class="grid grid--1x2 showcase-block">
    <picture>
      <source
        srcset="images/ipad.webp 1x, images/ipad@2x.webp"
        type="image/webp"
      />
      <source
        srcset="images/ipad.png 1x, images/ipad@2x.png"
        type="image/png"
      />
      <img class="showcase__image" src="images/ipad@2x.png" alt="" />
    </picture>
    <div class="showcase__content">
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title block__heading">
            Easy Start and Managed Updates
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi
            accusamus libero dolores ratione deserunt et.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title block__heading">Staging, Git & WP-CLI</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi
            accusamus libero dolores ratione deserunt et.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title block__heading">Dynamic caching and More</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi
            accusamus libero dolores ratione deserunt et.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
